.container{
    width: 680px;
height: 352px;
flex-shrink: 0;
    border-radius: 50px;
background: var(--bg-secondary, #1C0A22);
}
.btn{
    margin: 0 auto;
    width: 380px;
height: 70px;
flex-shrink: 0;
    border-radius: 500px;
background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
box-shadow: 0px 20px 30px 0px rgba(179, 34, 31, 0.10);
}
.text{
    text-align: center;
    color: aliceblue;
}
.title{
    color: #8B5D9A;
text-align: center;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
    display: block;
}
.input{ 
    text-align: center;
    border-radius: 50px;
background: var(--bg-secondary, #1C0A22);
    display: block;
    margin: 0 auto;
    width: 380px;
height: 70px;
flex-shrink: 0;
}
.body{
    background-color: #58196d;
}